<?xml version="1.0" encoding="UTF-8"?>
<project name="checkstyle-project" default="checkstyle-all">
  <path id="checkstyle.path">
    <fileset dir="${checkstyle.dir}">
     <include name="*.jar" />
    </fileset>
  </path>
  <taskdef resource="checkstyletask.properties" classpathref="checkstyle.path" />

  <target name="checkstyle-all">
    <echo>Running checkstyle...</echo>
      #foreach ( $buildFile in $buildFiles )
      <ant antfile="$buildFile" />
      #end
  </target>
</project>