<?xml version="1.0" encoding="UTF-8"?>
<project name="checkstyle-project" default="checkstyle-$vendor~$component">
  <path id="classpath">
  #foreach($path in $classpaths)
  <fileset dir="$path">
      <include name="**/*.jar" />
      <include name="**/*.ear" />
  </fileset>
  #end
</path>

  <target name="checkstyle-$vendor~$component">
    <echo>Running checkstyle on $vendor~$component.</echo>
    <checkstyle config="$checkstyleconfig" failOnViolation="false" classpath="$classes" classpathref="classpath">
      <formatter type="xml" toFile="$componenBase/gen/default/logs/checkstyle-result.xml" />
      #foreach ($path in $sourcePaths)
      <fileset dir="$path">
        <include name="**/*.java" />
        #foreach ($exclude in $excludes)
        <exclude name="$exclude" />
        #end
        #if (!$excludeContainsRegexps.isEmpty())
		<not>
    	  <or>
		#foreach($exclude in $excludeContainsRegexps)
		    <containsregexp expression="$exclude" />
        #end
          </or>
        </not>
        #end
    </fileset>
      #end
    </checkstyle>
  </target>
</project>